In [ ]:
import pandas as pd
import matplotlib

In [3]:
ruta_clientes = r"C:\Users\renzo\OneDrive\Escritorio\BD_Proyecto_Aurelion\Clientes.xlsx"
ruta_detalle_ventas = r"C:\Users\renzo\OneDrive\Escritorio\BD_Proyecto_Aurelion\Detalle_ventas.xlsx"
ruta_productos = r"C:\Users\renzo\OneDrive\Escritorio\BD_Proyecto_Aurelion\Productos.xlsx"
ruta_ventas = r"C:\Users\renzo\OneDrive\Escritorio\BD_Proyecto_Aurelion\Ventas.xlsx"

### Cargando Base de Datos

In [4]:
df_clientes = pd.read_excel(ruta_clientes)
df_detalle_ventas = pd.read_excel(ruta_detalle_ventas)
df_productos = pd.read_excel(ruta_productos)
df_ventas = pd.read_excel(ruta_ventas)

### Problematica

- Dificultad para identificar los hábitos de compra de sus clientes.
- Enfasis en metodos tradicionales.
- Impacto negativo en la efectividad de promociones y fidelización a largo plazo.
- Capacidad limitada para personalizar estrategias de marketing.

### Analisis de Tablas

#### Clientes

In [13]:
df_clientes

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
0,1,Mariana Lopez,mariana.lopez@mail.com,Carlos Paz,2023-01-01
1,2,Nicolas Rojas,nicolas.rojas@mail.com,Carlos Paz,2023-01-02
2,3,Hernan Martinez,hernan.martinez@mail.com,Rio Cuarto,2023-01-03
3,4,Uma Martinez,uma.martinez@mail.com,Carlos Paz,2023-01-04
4,5,Agustina Flores,agustina.flores@mail.com,Cordoba,2023-01-05
...,...,...,...,...,...
95,96,Rocio Gonzalez,rocio.gonzalez@mail.com,Cordoba,2023-04-06
96,97,Uma Alvarez,uma.alvarez@mail.com,Cordoba,2023-04-07
97,98,Camila Castro,camila.castro@mail.com,Cordoba,2023-04-08
98,99,Bruno Molina,bruno.molina@mail.com,Villa Maria,2023-04-09
99,100,Agustina Lopez,agustina.lopez@mail.com,Cordoba,2023-04-10

Cantidad de clientes

In [22]:
# Cantidad de clientes
print("Cantidad de clientes únicos:")
df_clientes['email'].nunique()

Cantidad de clientes únicos:

100

Clientes por ciudad

In [ ]:
# Análisis de clientes por ciudad
print("Distribución de clientes por ciudad:")
df_clientes['ciudad'].value_counts().reset_index(name='Cantidad').rename(columns={'index': 'Ciudad'})

# Grafico de barras para clientes por ciudad

Distribución de clientes por ciudad:

        ciudad  Cantidad
0   Rio Cuarto        23
1  Alta Gracia        21
2   Carlos Paz        15
3  Villa Maria        15
4      Cordoba        13
5   Mendiolaza        13